# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.env
*.env.test
*experiment.py
.DS_Store
*data/
experiment_toy.py
*results/
*assess_results_
*generate_results_
