# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
*.env
*.env.test
*experiment.py
.DS_Store
*data/
experiment_toy.py
*results/
*assess_results_*
*generate_results_*
data.py
experimenting_setup.sh
generate_result_opt.py
generate_result_standard.py
helpers.py
param_search_standard.py
run_tests_locally.sh
*illustration
*plots/
